# AWS Configuration
# Copy this file to .env and fill in your values
# The .env file is gitignored and won't be committed

AWS_S3_BUCKET=nico-mannarelli-personal-site
AWS_REGION=us-east-1
CLOUDFRONT_DIST_ID=E3OHYUVKP3RS56

